* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body.light {
    background-color: coral;
}

body.dark {
    background-color: chartreuse;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.container h1 {
    color: black
}

.container button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}