    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-color: coral;
    }
    
    .section {
        min-height: 100vh;
        padding-top: 100px;
    }
    
    .container {
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    h1 {
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
    
    .accordian {
        max-width: 700px;
        margin: auto;
    }
    
    .accodian_item {
        border: 1px solid #000;
        padding: 20px;
    }
    
    .accordian_question {
        display: flex;
        align-items: center;
        gap: 15px;
        padding-bottom: 20px;
    }
    
    .accordian_question h3 {
        flex: 1;
        font-size: 25px;
    }
    
    .accordian_question i {
        font-size: 25px;
        cursor: pointer;
    }
    
    .accordian_answer {
        display: none;
    }
    
    .accordian_question.active+.accordian_answer {
        display: block;
    }
    
    .accordian_answer p {
        font-size: 20px;
    }
    
    .accordian_question.active i {
        transform: rotate(180deg);
    }